.main-window {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f4f4f4;
}

/* Status line */
.status-line {
    background-color: #181818;
    color: #f4f4f4;
    font-family: monospace;
    font-size: 1em;
}
